.section1,
.section2,
.section3,
.section4,
.section5 {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 15px;
}

.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.child1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 300px;
}

.child2 {
    /* flex: 1; */
    min-width: 300px;
    margin-top: 20px;
    text-align: center;
    max-width: 100%;
    margin-left: 50px;
    width: 510px;
    height: 750px;
}

.fsw {
    width: 614px;
    height: 140px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 49px/65px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.section2-p {
    margin-top: 30px;
    margin-bottom: 20px;
}

.child3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column;
    align-items: flex-start; */
}

.child4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.grid {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(25% - 20px);
            flex: 1 1 calc(25% - 20px);
    margin: -9px;
}

.box1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

h6 {
    font-size: 50px;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.project img {
    width: 770px;
    height: 567px;
}

h3 {
    color: #FF3147;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #000;
    line-height: 1.5;
}

.contact {
    background-color: #FF3147;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.relative {
    position: relative;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 16px;
    gap: 16px;
}

.image-container {
    min-width: 380px;
}

.image-container img {
    border-radius: 10px;
}

.service-container {
    min-width: 380px;
    color: white;
    left: 1175px;
    width: 370px;
    height: 526px;
    /* UI Properties */
    background: #FF3147 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.86;
}

.service-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

.icon-container {
    margin-bottom: 40px;
}

.service-content h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    color: white;
}

.service-content span {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    padding: 30px;
}

.service-content button {
    background-color: #fff;
    color: #FF3147;
    padding: 8px 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border: none;
}


.dots {
    position: absolute;
    bottom: -25px;
    left: 7%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active,
.dot:hover {
    background-color: #FF3147;
}

.slide img:hover+.dots .dot {
    background-color: red;
}

.box {
    width: 60px;
    margin-left: 20px;
}

.card {
    border: none;
}

span {
    font-family: "Poppins", sans-serif;

}

h5 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 10px;
}

.description1,
.description2,
.description3 {
    background-color: #F6F6F6;
    padding: 20px;
    cursor: pointer;
    margin: 10px 0;
}

.description1.active,
.description2.active,
.description3.active {
    background-color: #FF3147;
    color: white;
}

.growth {
    border: 1px solid rgb(219, 219, 219);
    padding: 40px;
    cursor: pointer;
    margin: 10px;
}

.growth:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

.popup .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.popup .form input[type="text"],
.popup .form input[type="email"],
.popup .form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.popup .form input[type="submit"] {
    background-color: #FF3147;
    color: white;
    border: none;
    cursor: pointer;
}

.popup .form input[type="submit"]:hover {
    background-color: #fd5263;
}

@media screen and (max-width: 1200px) {
    .child3 {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .child2 {
        display: none !important;
    }
}

@media (max-width: 767.98px) {
    .section1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: left;
    }

    .section1 .child1 {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }

    .section1,
    .section2,
    .section3,
    .section4,
    .section5 {
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0 15px;
    }

    .grid {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        margin: -9px 0;
    }

    .card {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }

    .description {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        /* padding: 10px; */
    }

    .section2-p {
        margin-top: 5px;
    }



    .fsw {
        width: 315px;
        margin-bottom: 50px;
    }


}